<?xml version="1.0" encoding="UTF-8" standalone="no"?><plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Vivado</string>
	<key>CFBundleExecutable</key>
	<string>Vivado</string>
	<key>CFBundleGetInfoString</key>
    <string>Vivado</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
	<key>CFBundleIconFile</key>
	<string>icon</string>
	<key>CFBundleIconName</key>
	<string>icon</string>
	<key>CFBundleIdentifier</key>
	<string>com.thuvasooriya.vivado</string>
</dict>
</plist>
